

.leftWrapper {
  display: flex;
  width: 30%;
  align-items: stretch;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 50px; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
}

.rightWrapper {
  display: flex;
  width: 30%;
  align-items: stretch;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 50px; /* Stay at the top */
  right: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
#sidebar {
  padding-left: 125px; 
}
.sidebarSub {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

@media only screen and (max-width: 480px){
  .leftWrapper {
    position: fixed;
    width: 100%;
    max-width: 220px;
    height: 100vh;
    overflow: auto;
    z-index: 2000;
    top: 0;
    left: 0;
    background-color: #fafafa;
    box-shadow: 0 16px 16px 0 rgba(0,0,0,.24), 0 0 16px 0 rgba(0,0,0,.18);
    font-size: 14px;
  }
  .rightWrapper {
    position: fixed;
    width: 100%;
    max-width: 220px;
    height: 100vh;
    overflow: auto;
    z-index: 2000;
    top: 0;
    right: 0;
    background-color: #fafafa;
    box-shadow: 0 16px 16px 0 rgba(0,0,0,.24), 0 0 16px 0 rgba(0,0,0,.18);
    font-size: 14px;
  }
}
.visibleDiv {
  display: block;
}
.hideDiv {
  display: none;
}
